.downloads {
    text-align: center;
    list-style: none;
    display: block;
    padding: 5px 50px 0px 50px;
    color: orange;
    text-decoration: none;
    line-height: 30px;
}

#logo {
    width: 20%;
    height: 45%;
}


section#text {
    display: block;
    float: left;
    width: 50%;
}

.abt {
    text-indent: 2em;
    padding-top: 20px;
    padding-left: 20px;
}


#right {
    float: right;
    display: block;
    padding-top: 20px;
    margin-right: 50px;
}

/* Media Queries */

/*
===============================
Mobile Styles up to 480 pixels
===============================
*/

/* this is a media querie for mobile devices with a max width of 480 pixels */
@media only screen and (max-width:480px) {

    .hide {
        display: none;
    }

    #logo {
        margin-left: 175px;
    }

    nav ul li {
        text-align: center;
        list-style: none;
        display: inline;
        padding: 0px 50px 5px 50px;
        width: 100%;
    }

    nav ul li a {
        color: black;
        font-size: 15px;
    }

    nav li {
        display: block;
        float: left;
        width: 20%;
    }

    footer p {
        font-size: 12px;
    }

    #p2,
    footer a img {
        display: none;
    }

    .abt {
        text-indent: 0em;
        padding-top: 10px;
    }
}

/*
============================================
Tablet and Desktop Devices: 481px or more
============================================
*/

/* this is a media querie for devices with a width of 481 pixels or greater*/
@media only screen and (min-width:481px) {}