.downloads {
    text-align: center;
    list-style: none;
    display: block;
    padding: 5px 50px 0px 50px;
    color: orange;
    text-decoration: none;
    line-height: 30px;
}

#logo {
    width: 20%;
    height: 45%;
}

#vid {
    width: 560px;
    height: 315px;
}

section#text {
    display: block;
    float: left;
    width: 50%;
}

.abt {
    text-indent: 2em;
    padding-top: 20px;
    padding-left: 20px;
}


#right {
    float: right;
    display: block;
    padding-top: 20px;
    margin-right: 50px;
}

footer {
    padding-bottom: 15px;
}

/* Media Queries */

/*
===============================
Mobile Styles up to 480 pixels
===============================
*/

/* this is a media querie for mobile devices with a max width of 480 pixels */
@media only screen and (max-width:480px) {
    section#text {
        width: 95%;
    }

    .abt {
        text-indent: 2em;
        padding-top: 10px;
    }

    #vid {
        width: 325px;
        height: 175px;
    }
}