/* 
    Gabriel Hernandez 
    CSS styel for the contact page
*/

/* Main Body Layout */
div#left {
    display: block;
    float: left;
    width: 45%;
}

div#right {
    display: block;
    float: right;
    width: 45%;

}

div#right, div#left {
    margin-top: 30px;
}

div#left iframe {
display: block;
}

/* Image/Google Maps styles */



/* Form Styles */
form {
    line-height: 30px;
}

/* form label {
    display: block;
    float: left;
} */

form input {
    display: block;
    float: right;
    margin-right: 100px;
}

textarea {
    margin-top: 10px;
    height: 100px;
    width: 95%;  
}

button {
    text-align: center;
}