#right {
    float: right;
    display: block;
    padding-top: 20px;
    margin-right: 50px;
}

#ctso {
    text-align: center;
    list-style: none;
    display: block;
    padding: 5px 50px 0px 50px;
    color: orange;
    line-height: 30px;
}

section#text {
    display: block;
    float: left;
    width: 50%;
}

.abt{
    text-indent: 2em;
    padding-top: 20px;
    padding-left: 20px;
}

/* Media Queries */

/*
===============================
Mobile Styles up to 480 pixels
===============================
*/

/* this is a media querie for mobile devices with a max width of 480 pixels */
@media only screen and (max-width:480px) {}

/*
============================================
Tablet and Desktop Devices: 481px or more
============================================
*/

/* this is a media querie for devices with a width of 481 pixels or greater*/
@media only screen and (min-width:481px) {}