/* 
    Gabriel Hernandez
    CSS that apply to all pages (e.g. nav, footer, h1)

*/
html,
body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
}

#logo {
    width: 20%;
    height: 45%;
}

h1 {
    display: block;
    text-align: center;
    font-size: 1.2em;
    float: right;
    padding: 10px 20px 0px 0px;
    letter-spacing: 5px;
}

/* Nav styles */

nav {
    height: 100%;
    background-color: rgb(247, 148, 29);
    padding-top: 10px;
}

/* fixes container collapse */
nav::after {
    clear: both;
    content: "";
    display: table;
}

/* fixes container collapse */
nav ul::after {
    clear: both;
    content: "";
    display: table;
}

nav ul li {
    text-align: center;
    list-style: none;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* displays the nav list items as block, floated left, has a width of 25% */
nav li {
    font-size: 20px;
    display: block;
    float: left;
    width: 20%;
    height: 30px;
    letter-spacing: 5px;
}

/* changes the text color to black */
nav ul li a {
    color: black;
    width: 100%;
    padding: 0px 20px;
    font-size: 20px;
}

/* Makes the nav a little more responsive */
nav ul li a:hover,
nav ul li a:active {
    background-color: rgb(229, 137, 25);
    font-size: 22px;
}

/* End Nav styles */


img.slidePics {
    width: 100%;
}


/* Footer */
footer {
    background-color: rgb(28, 28, 28);
    color: rgb(227, 227, 227);
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    width: 100%;
}

footer p {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

footer a img {
    float: right;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

footer a {
    color: rgb(227, 227, 227);
}

footer p:last-of-type {
    float: right;
}



/* Media Queries */

/*
===============================
Mobile Styles up to 480 pixels
===============================
*/

/* this is a media query for mobile devices with a max width of 480 pixels */
@media only screen and (max-width:480px) {
    .hide {
        display: none;
    }

    nav ul li {
        text-align: center;
        list-style: none;
        padding: 0px 50px 5px 50px;
        width: 100%;
    }

    nav ul li a {
        color: black;
        font-size: 15px;
    }

    #logo {
        margin-left: 175px;
    }

    nav li {
        display: block;
        float: left;
        width: 20%;
    }

    footer p {
        font-size: 12px;
    }

    #p2,
    footer a img {
        display: none;
    }
}