/* This is for the image and the its slide show */

img.slidePics {
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 60%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
}
/* end of slide show css */

div#body p {
    font-size: 18px;
    display: block;
    
}