.downloads {
    text-align: center;
    list-style: none;
    display: block;
    padding: 5px 50px 0px 50px;
    color: orange;
    text-decoration: none;
}

#logo {
    width: 20%;
    height: 45%;
}

/* Nav styles */

nav {
    height: 100%;
    background-color: rgb(247, 148, 29);
}

/* fixes container collapse */
nav::after {
    clear: both;
    content: "";
    display: table;
}

/* fixes container collapse */
nav ul::after {
    clear: both;
    content: "";
    display: table;
}

nav ul li {
    text-align: center;
    list-style: none;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* displays the nav list items as block, floated left, has a width of 25% */
nav li {
    font-size: 20px;
    display: block;
    float: left;
    width: 20%;
    height: 30px;
    letter-spacing: 5px;
}

/* changes the text color to black */
nav ul li a {
    color: black;
    width: 100%;
    padding: 0px 20px;
    font-size: 20px;
}

/* Makes the nav a little more responsive */
nav ul li a:hover,
nav ul li a:active {
    background-color: rgb(229, 137, 25);
    font-size: 22px;
}
/* End Nav styles */

/* Media Queries */

/*
===============================
Mobile Styles up to 480 pixels
===============================
*/

/* this is a media querie for mobile devices with a max width of 480 pixels */
@media only screen and (max-width:480px) {}

/*
============================================
Tablet and Desktop Devices: 481px or more
============================================
*/

/* this is a media querie for devices with a width of 481 pixels or greater*/
@media only screen and (min-width:481px) {}