/* 
    Gabriel Hernandez
    CSS for index.html

*/


* {
    box-sizing: border-box
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

#logo {
    width: 20%;
    height: 45%;
}

/* Nav styles */

nav {
    height: 100%;
    background-color: rgb(247, 148, 29);
}

/* fixes container collapse */
nav::after {
    clear: both;
    content: "";
    display: table;
}

/* fixes container collapse */
nav ul::after {
    clear: both;
    content: "";
    display: table;
}

nav ul li {
    text-align: center;
    list-style: none;
    display: inline;
    padding: 5px 50px 5px 50px;
}

/* displays the nav list items as block, floated left, has a width of 25% */
nav li {
    font-size: 20px;
    display: block;
    float: left;
    width: 25%;
    height: 30px;
    letter-spacing: 5px;
}

/* changes the text color to black */
nav ul li a {
    color: black;
    width: 100%;
    padding: 0px 20px;
}

/* Makes the nav a little more responsive */
nav ul li a:hover,
nav ul li a:active {
    background-color: rgb(229, 137, 25);
}
/* End Nav styles */


img.slidePics {
    width: 100%;
}

/* This is for the image and the its slide show */
/* Slideshow container */
.slideshow-container {
    max-width: 60%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 30px;
}

/* end of slide show css */


/* Footer */

